{
  "presets": [
    "env",
    "react",
    "stage-0"
  ],
  "plugins": [
    "istanbul",
    "transform-class-properties",
    "transform-decorators",
    "transform-react-constant-elements",
    "transform-react-inline-elements",
    "jsx-control-statements"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul", "jsx-control-statements"]
    }
  }
}
